In [2]:
import pandas as pd

# Load the datasets using pandas dataframes

# Includes annual road fatalities with a breakdown by month (2000 - 2023 September)
road_fatalities_monthly = pd.read_csv("Datasets/ROA11.20231122T121139.csv")

# Contains most up-to-date monthly road fatalities in Ireland (2000 January - 2023 October)
current_road_fatalities_monthly = pd.read_csv("Datasets/ROA29.20231122T121128.csv")

total_rows_road_fatalities_monthly = road_fatalities_monthly.shape[0] # = 312
total_rows_current_road_fatalities_monthly = current_road_fatalities_monthly.shape[0] # = 286

In [ ]:
# Checking for null values and data types in the road_fatalities_monthly dataset
print("Null Values:\n", road_fatalities_monthly.isnull().sum())
print("Data Types:\n", road_fatalities_monthly.dtypes)

# Checking for null values and data types in the current_road_fatalities_monthly dataset
print("Null Values:\n", current_road_fatalities_monthly.isnull().sum())
print("Data Types:\n", current_road_fatalities_monthly.dtypes)

In [4]:
# Adding the value 22 to the row where Year = 2023 and Month of Fatality = October
road_fatalities_monthly.loc[(road_fatalities_monthly['Year'] == 2023) & 
                            (road_fatalities_monthly['Month of Fatality'] == 'October'), 'VALUE'] = 22

# Removing any remaining rows with null/missing values in 'road_fatalities_monthly'
road_fatalities_monthly.dropna(inplace=True)
road_fatalities_monthly

     STATISTIC Label  Year Month of Fatality    UNIT  VALUE
0    Road Fatalities  2000        All months  Number  415.0
1    Road Fatalities  2000           January  Number   32.0
2    Road Fatalities  2000          February  Number   41.0
3    Road Fatalities  2000             March  Number   23.0
4    Road Fatalities  2000             April  Number   42.0
..               ...   ...               ...     ...    ...
305  Road Fatalities  2023              June  Number   10.0
306  Road Fatalities  2023              July  Number   17.0
307  Road Fatalities  2023            August  Number   26.0
308  Road Fatalities  2023         September  Number    9.0
309  Road Fatalities  2023           October  Number   22.0

[310 rows x 5 columns]

In [5]:
road_fatalities_monthly.rename(columns={'VALUE': 'Road Fatality Count'}, inplace=True)
road_fatalities_monthly.drop(columns=['UNIT', 'STATISTIC Label'], inplace=True)
   
current_road_fatalities_monthly.rename(columns={'VALUE': 'Road Fatality Count'}, inplace=True)
current_road_fatalities_monthly.drop(columns=['UNIT', 'Statistic Label', 'Ireland'], inplace=True)

In [6]:
current_road_fatalities_monthly[['Year', 'Month']] = current_road_fatalities_monthly['Month'].str.split(' ', expand=True)
current_road_fatalities_monthly['Year'] = current_road_fatalities_monthly['Year'].astype(int)

# Reordering columns to have 'Month' next to 'Year' for readability
column_order = ['Month','Year', 'Road Fatality Count']
current_road_fatalities_monthly = current_road_fatalities_monthly[column_order]
current_road_fatalities_monthly

         Month  Year  Road Fatality Count
0      January  2000                   32
1     February  2000                   41
2        March  2000                   23
3        April  2000                   42
4          May  2000                   29
..         ...   ...                  ...
281       June  2023                   10
282       July  2023                   17
283     August  2023                   26
284  September  2023                    9
285    October  2023                   22

[286 rows x 3 columns]

In [7]:
road_fatalities_monthly.rename(columns={'Month of Fatality': 'Month'}, inplace=True)

In [8]:
# Reordering columns to have 'Month' next to 'Year' for readability
column_order = ['Month','Year', 'Road Fatality Count']
road_fatalities_monthly = road_fatalities_monthly[column_order]
road_fatalities_monthly

          Month  Year  Road Fatality Count
0    All months  2000                415.0
1       January  2000                 32.0
2      February  2000                 41.0
3         March  2000                 23.0
4         April  2000                 42.0
..          ...   ...                  ...
305        June  2023                 10.0
306        July  2023                 17.0
307      August  2023                 26.0
308   September  2023                  9.0
309     October  2023                 22.0

[310 rows x 3 columns]

In [34]:
road_fatalities_monthly

          Month  Year  Road Fatality Count
0    All months  2000                415.0
1       January  2000                 32.0
2      February  2000                 41.0
3         March  2000                 23.0
4         April  2000                 42.0
..          ...   ...                  ...
305        June  2023                 10.0
306        July  2023                 17.0
307      August  2023                 26.0
308   September  2023                  9.0
309     October  2023                 22.0

[310 rows x 3 columns]

In [9]:
# Get the 'All months' rows from road_fatalities_monthly
all_months_data = road_fatalities_monthly[road_fatalities_monthly['Month'] == 'All months']

road_fatalities_2000_to_2023 = pd.concat([current_road_fatalities_monthly, all_months_data], ignore_index=True)

road_fatalities_2000_to_2023

          Month  Year  Road Fatality Count
0       January  2000                 32.0
1      February  2000                 41.0
2         March  2000                 23.0
3         April  2000                 42.0
4           May  2000                 29.0
..          ...   ...                  ...
305  All months  2019                140.0
306  All months  2020                146.0
307  All months  2021                136.0
308  All months  2022                155.0
309  All months  2023                136.0

[310 rows x 3 columns]

In [10]:

road_fatalities_2000_to_2023['Month'] = road_fatalities_2000_to_2023['Month'].replace('All months', 'Annual Fatalities')

# Custom order for months
months_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'Annual Fatalities']

# Convert 'Month' to a category type with the custom order above
road_fatalities_2000_to_2023['Month'] = pd.Categorical(road_fatalities_2000_to_2023['Month'], categories=months_order, ordered=True)


# Sort the dataset first by 'Year' and then by 'Month'
road_fatalities_2000_to_2023.sort_values(by=['Year', 'Month'], inplace=True)

road_fatalities_2000_to_2023.reset_index(drop=True, inplace=True)

road_fatalities_2000_to_2023

                 Month  Year  Road Fatality Count
0              January  2000                 32.0
1             February  2000                 41.0
2                March  2000                 23.0
3                April  2000                 42.0
4                  May  2000                 29.0
..                 ...   ...                  ...
305               July  2023                 17.0
306             August  2023                 26.0
307          September  2023                  9.0
308            October  2023                 22.0
309  Annual Fatalities  2023                136.0

[310 rows x 3 columns]

In [11]:
road_fatalities_2000_to_2023 = road_fatalities_2000_to_2023.drop(road_fatalities_2000_to_2023.index[-1])

In [12]:
pd.set_option('display.max_rows', 100)  # Set the number of rows to display
pd.set_option('display.min_rows', 40)

In [13]:
road_fatalities_2000_to_2023

                 Month  Year  Road Fatality Count
0              January  2000                 32.0
1             February  2000                 41.0
2                March  2000                 23.0
3                April  2000                 42.0
4                  May  2000                 29.0
5                 June  2000                 30.0
6                 July  2000                 39.0
7               August  2000                 32.0
8            September  2000                 39.0
9              October  2000                 40.0
10            November  2000                 36.0
11            December  2000                 32.0
12   Annual Fatalities  2000                415.0
13             January  2001                 30.0
14            February  2001                 38.0
15               March  2001                 31.0
16               April  2001                 22.0
17                 May  2001                 40.0
18                June  2001                 24.0
19                July  2001                 41.0
..                 ...   ...                  ...
289              April  2022                  9.0
290                May  2022                 12.0
291               June  2022                 13.0
292               July  2022                 12.0
293             August  2022                 12.0
294          September  2022                 10.0
295            October  2022                 12.0
296           November  2022                 17.0
297           December  2022                 15.0
298  Annual Fatalities  2022                155.0
299            January  2023                 18.0
300           February  2023                 13.0
301              March  2023                 12.0
302              April  2023                 11.0
303                May  2023                 20.0
304               June  2023                 10.0
305               July  2023                 17.0
306             August  2023                 26.0
307          September  2023                  9.0
308            October  2023                 22.0

[309 rows x 3 columns]